.expense-list{
    height:90vh;
}
.floating{
    position: fixed;
    right: 35px;
    bottom: 35px;
}

.scroll-container {
    width: 300px;
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
}